<%- include('./particals/head.ejs') %>

<div class="wrapper">

    <h1>Stekjesbieb</h1>

    <div class="filters">
        <div class="filters-btn">
            <i class="fa-solid fa-filter"></i>
            <p>Filters</p>
        </div>

        <div class="filter-menu">
           
        </div>
    </div>

    <div class="stekjes">
        
            <% stekjes.forEach(stekje => { %>
                <div class="stekje">
                <img src="<%= stekje.fotos %>" alt="<%= stekje.naam %>"/>
                <h2><%= stekje.naam %></h2>
                <a href="">Meer informatie</a>
            </div>
            <% }) %>

    </div>

</div>

<%- include('./particals/foot.ejs') %>